body {
  font-family: 'Vollkorn', serif;
  color: #333333;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 112.5%;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

a,
a:hover,
a:active {
  color: #333333;
}

a:visited {
  color: #666666;
}

h1 a,
h1 a:visited {
  color: #333333;
  text-decoration: none;
}

p {
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
}

ul, ol {
  margin-top: 20px;
  padding-left: 30px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

time {
  font-size: 75%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: 'Courier', monospace;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

pre {
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
}

pre > code {
  padding: 0;
  border: 0 none;
  white-space: pre;
}

q {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;
} 

div#container {
  margin: 20px auto;
  padding: 20px;
  width: 640px;
}

div#main {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width:0) and (max-width:825px) {
  div#container {
    margin: 0 auto;
    padding: 20px;
    width: auto;
    max-width:100%;
  }
}

.wrapper {}

.block {
  overflow: hidden;
  clear: both;
}

article header {
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  font-size: 75%;
}

footer * {
  display: inline;
}

#disqus_thread {
  margin: 50px auto;
}