---
base_path: http://potomak.github.io/techpeaks
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:700|Vollkorn:400italic,400,700" />
  <link rel="stylesheet" type="text/css" href="{{ page.base_path }}/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="{{ page.base_path }}/stylesheets/style.css" />
  <link rel="alternate" type="application/rss+xml" href="{{ page.base_path }}/atom.xml" title="TechPeaks Log" />
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% include analytics.html %}
</head>

<body>
  <div id="container">
    {{ content }}

    <footer>
      <p>
        Giovanni Cappellotto
        <a href="http://twitter.com/johnnyaboh">@johnnyaboh</a>
      </p>
    </footer>
  </div>

  <canvas id="peaks"></canvas>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{ page.base_path }}/javascripts/triangulate.js"></script>
  <script src="{{ page.base_path }}/javascripts/peaks.js"></script> 
</body>
</html>